.guide-search-bar select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #8a86aa;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
  padding-right: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23FFFFFF' d='M5 6l-3.5-3.5h7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.guide-search-bar select option {
  background-color: #333;
  color: #fff;
}

.guide-app {
  display: flex;
  color: #fff;
}

.guide-sidebar {
  width: 250px;
  background-color: #0d122b;
  padding: 20px;
}

.guide-sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.guide-sidebar nav ul {
  list-style: none;
  padding: 0;
}

.guide-sidebar nav ul li {
  margin: 20px 0;
}

.guide-sidebar nav ul li a {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.guide-sidebar nav ul li a:hover {
  background-color: #c939bb;
  padding: 10px;
  border-radius: 30px;
}

.guide-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
}

.guide-header {
  width: 100%;
  display: flex;
  justify-content: left;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.guide-header p {
  margin: 10px 20px;
  font-family: "Inter";
  color: #fff;
}

.guide-home {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

.guide-home h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: "Gotham";
}

.guide-home p {
  font-size: 1rem;
  margin-bottom: 40px;
  font-family: "Inter";
  color: #fff;
}

.guide-card-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.guide-card {
  padding-top: 40px;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

.guide-top {
  color: #fff;
}

.guide-search-bar {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.guide-search-bar input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  outline: none;
}

.guide-search-bar input[type="text"]::placeholder {
  color: #fff;
}

.guide-search-bar input[type="text"]:focus {
  border-color: #bbb;
}

.guide-card h3 {
  font-size: 1.5em;
  padding: 3px;
  margin: 0 0 20px 0;
}

.guide-card p {
  font-size: 1em;
  padding: 5px;
  margin-bottom: 20px;
}

.guide-card button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1em;
  text-align: left;
  margin: 0;
  font-weight: bold;
  font-family: "Inter";
  cursor: pointer;
  border-radius: 15px;
  text-decoration: underline;
}

.guide-card button p:hover {
  background-color: #4739c9;
}

.guide-detail {
  max-width: 800px;
  margin: auto;
}

.guide-detail h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.guide-card-content {
  display: flex;
  justify-content: space-between;
}

/* Scroll-to-Top Button */
.guide-scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f723da;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.guide-scroll-to-top.show {
  opacity: 1;
}

.guide-scroll-to-top:hover {
  background-color: #ff5500;
}

@media (max-width: 768px) {
  .guide-card {
    flex-direction: column;
    text-align: center;
  }

  .guide-card img {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .guide-card-content {
    align-items: center;
  }

  .guide-card button {
    align-self: center;
  }
}
