.tools-section {
  text-align: center;
  padding: 2rem 1rem;
}

.tools-title {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.tools-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.tool-button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-button img {
  width: 140px;
  height: 140px;
  border-radius: 10px; /* Ensures the image has rounded corners */
}

.tool-button.selected {
  border: 5px solid;
  border-image: linear-gradient(90deg, #5a87b0, #ab4e30, #eec982, #67cf36) 1;
  border-radius: 15px; /* Ensures the border has rounded corners */
}

.tool-button:hover {
  background-color: #444;
  transform: scale(1.1);
}

.tool-cards {
  margin-top: 2rem;
  color: #fff;
}

.tool-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-cards-header {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.tool-cards-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 4rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: scale(1.05);
}

.card h4 {
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  font-size: 2rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
}
